<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-12">
      <agm-map [latitude]="location?.lat" [longitude]="location?.lng" [zoom]="13" [disableDefaultUI]="false"
        [zoomControl]="true">
        <agm-marker *ngFor="let m of markers" [latitude]="m?.location.lat" [longitude]="m?.location.lng">
        </agm-marker>
      </agm-map>
      <p *ngIf="loading">Loading...</p>
    </div>
    <div class="col-md-12 mt-2">
      <button type="button" class="btn btn-light btn-block" (click)="showLocation()">Cargar clientes</button>
    </div>
    <div class="col-md-12 mt-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Cliente</th>
            <th scope="col">Tienda</th>
            <th scope="col">Dirección</th>
          </tr>
        </thead>
        <tbody *ngFor="let cc of clientes">
          <tr>
            <td>{{cc.tipo}}</td>
            <td>{{cc.cliente}}</td>
            <td>{{cc.nombre}}</td>
            <td>{{cc.dir}}</td>
          </tr>
        </tbody>
      </table>
    </div>

<agm-map [latitude]="20.9834661" [longitude]="-89.6488937" [zoom]="13" [disableDefaultUI]="false"
  [zoomControl]="false" id="map">
  <agm-marker *ngFor="let m of markers" [latitude]="m?.location.lat" [longitude]="m?.location.lng" id="map">
  </agm-marker>
  <agm-marker *ngFor="let n of nerbyPlaces"
    [latitude] = "n.lat"
    [longitude] = "n.lng"
    [iconUrl] = "n.img"
    
  >
  </agm-marker>
</agm-map>
<p *ngIf="loading">Loading...</p>
<button (click)="showLocation()">Botón</button>
<button (click)="addressToCoordinates2()">Botón 2</button>
  </div>
</div>
